# Local fallback (SQLite file)
DATABASE_URL=file:./db/portfolio.db

# Turso remote database (replace with your values)
# DATABASE_URL=libsql://your-db-name-your-org.turso.io
DATABASE_AUTH_TOKEN=

# Admin Dashboard Authentication
NEXT_PUBLIC_ADMIN_PASSWORD=
JWT_SECRET=

# Cloudinary Integration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
